/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.global-wrapper {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: start;
  justify-content: start;
}

* {
  font-family: 'Rajdhani', sans-serif;
}

.v-input__details {
  display: none !important;
}
